.container{
    padding: 10rem 0 2rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #6e5a4c;
}
.items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item_carro{
    width: 40%;
    border: solid 1px rgb(194, 193, 193);
    padding: 1rem;
    background-color: white;
}
.separar{
    font-size: x-large;
}
.eliminar{
    cursor: pointer;

}
button{
    background-color: white;
    border: none;
}
.descripcion{
    width: 90%;
    margin: 0.5rem 0 0 0.5rem;
}
#cantidad{
    width: 25%;
}
.facturacion{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    color: white;
}
.size_legend{
    font-size: x-large;
}
.metodos_pago{
    color: white;
    padding-top: 2rem;
}
fieldset{
    border: 3px solid white;
    padding: 0 10rem 0 2rem;
}
.empujar{
    margin: 0 0.5rem 0 1rem;
}
.metodo_pago{
    font-size: xx-large;
}
form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn_tramitar{
    margin: 2rem 0 0 0;
    cursor: pointer;
    width: 30%;
    height: 3rem;
    font-size: 1.4rem;
    background-color: #CAA58B;
    transition: 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.btn_tramitar:hover{
    background-color: #8C5A37;
    color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}