body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
#logo{
    margin-top: 10px;
    margin-left: 50px;
}
#logo2{
    display: none;
    margin-top: 10px;
    margin-left: 50px;
}
nav{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 7.7rem;
    justify-content: space-between;
    background-color: #CAA58B;
}
ul li{
    display: inline;
}
.EnlaceBarraBusqueda{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: x-large;
    transition: 0.2s ease-in-out;
}
.EnlaceBarraBusqueda:hover{
    font-size: 2rem;
}
.botonEnlaceBarraBusqueda{
    background-color: transparent;
    border: none;
}
.carrito{
    transition: 0.2s;
}
.carrito:hover{
    font-size: 2rem;
    cursor: pointer;
}
.carrito{
    font-size: x-large;
}
#menuDer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.compra{
    display: none;
    background-color: white;
    right: 0;
    position: fixed;
    width: 300px;
    height: 500px;
    top: 7.7rem
}
.separador{
    width: 20rem;
    height: 1px;
    background-color: rgb(223, 223, 223);
    margin: 0.5rem 0 0.5rem 0;
}
.item_carro{
    display: flex;
    margin: 0 0 0 1rem;
}
.info_item_carro{
    display: flex;
    flex-direction: column;
}
.separar{
    margin: 0.5rem 0 0 1rem;
}
.tramitar_pedido{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.btn_tramitar_pedido{
    text-decoration: none;
    color: black;
    padding: 1rem 2rem 1rem 2rem;
    border: solid 1px black;
    font-size: 1.5rem;
    background-color: #CAA58B;
    transition: 0.2s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.btn_tramitar_pedido:hover{
    color: white;
    background-color: #40342C;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
footer{
    display: flex;
    flex-direction: row;
    background-color: #40342C;
    width: 100vw;
}
.info_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
}
footer > div > ul{
    display: flex;
    flex-direction: column;
}
.barra{
    border: solid 1px #6e5a4c;
    height: 100px;
    margin-top: 2rem;
}
.contenido_footer{
    color: white;
}
.icono_redsocial{
    color: white;
    font-size: xx-large;
    padding: 1rem;
}
.blanco{
    color: white;
}
.negro{
    color: black;
}