body{
    font-family: 'Ubuntu', sans-serif;
}
#logo2{
    display: block;
    margin-top: 10px;
    margin-left: 50px;
}
nav{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    background-color: #40342C;
}
ul li{
    display: inline;
}
.mi_carrito{
    margin-left: 1rem;
}
.EnlaceBarraBusqueda{
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: x-large;
    transition: 0.2s;
}
.EnlaceBarraBusqueda:hover{
    font-size: 2rem;
}
.botonEnlaceBarraBusqueda{
    background-color: transparent;
    border: none;
    color: white;
}
.carrito{
    transition: 0.2s;
}
.carrito:hover{
    font-size: 2rem;
    cursor: pointer;
}
.carrito{
    font-size: x-large;
}
#menuDer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.container{
    background-color: #CAA58B;
    padding-top: 12rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.imagen_producto{
    width: 60%;
    height: 60%;
}
.producto{
    background-color: #40342C;
    display: flex;  
    align-items: center;
    flex-direction: column;
    width: 30%;
    color: white;
    padding-top: 1rem;
    margin-bottom: 1rem;
}
.fotter_tarjeta{
    display: flex;
    flex-direction: row;
}
.precio{
    font-size: large;
    padding: 0 2rem 0 2rem;
}
.descripcion{
    display: flex;
    text-align: center;
    margin: 0 0.5rem 0 0.5rem;
}
.dorado{
    color: #fdc500;
}
.gris{
    color:#e8e8e4;
}
.boton{
    background-color: #8C5A37;
    color: white;
    border-radius: 2rem;
    border-color: #40342C;
    cursor: pointer;
    transition: 0.2;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.boton:hover{
    background-color: white;
    color: #8C5A37;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}