body{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}
#logo{
    margin-top: 10px;
    margin-left: 50px;
}
#logo2{
    display: none;
    margin-top: 10px;
    margin-left: 50px;
}
nav{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-between;
    background-color: #CAA58B;
}
ul li{
    display: inline;
}
a{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: x-large;
}
#menuDer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
#container{
    display: flex;
    flex-direction: column;
    background-image: url(img/pao-gf2e321dd6_1920.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    margin-top: 10rem;
    width: 100vw;
    height: 400px;
    justify-content: center;
    align-items: center;
}
.blanco{
    color: white;
}
.negro{
    color: black;
}
.marron{
    color: #40342C;
}
#container > h1{
    font-size: 4rem;
    color: white;
    font-family: 'Dancing Script', cursive;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#eslogan{
    font-size: 2rem;
    color: white;
    font-family: 'Dancing Script', cursive;
    text-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #CAA58B;
}
#barraSeparadora{
    border: solid 1px #40342C;
    width: 150px;
}
.menuCentral{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding-top: 50px;
    background-color: #CAA58B;
}
.icono{
    border: solid 2px #40342C;
    border-radius: 50%;
    padding: 1rem;
    font-size: 390%;
    width: 8rem;
    height: 8rem;
}
.h1_icono{
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto_icono{
    padding-left: 3rem;
    padding-right: 3rem;
}